# Ignore Gradle GUI config
gradle-app.setting

# Java Files #
*.class

# Package Files #
# *.jar, we need to checkin gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Eclipse files #
.settings
.classpath
.project

# IntelliJ files #
.idea
local.properties
*.iml
out

# Gradle files #
.gradle
build

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.DS_Store
pipeline.properties
*.html%
create_project.groovy
config_tmp.xml
